<main class="l-home-page">
  <app-header :budgetsVisible="budgetsVisible" @toggleVisibleData="budgetsVisible = !budgetsVisible"></app-header>

  <div class="l-home">
    <h4 class="white--text text-xs-center my-0">
      Focus Budget Manager
    </h4>

    <list>
      <list-header slot="list-header" :headers="budgetsVisible ? budgetHeaders : clientHeaders"></list-header>
      <list-body slot="list-body"
                 :budgetsVisible="budgetsVisible"
                 :data="budgetsVisible ? budgets : clients">
      </list-body>
    </list>
  </div>

  <v-snackbar :timeout="timeout"
              bottom="bottom"
              color="red lighten-1"
              v-model="snackbar">
    {{ message }}
  </v-snackbar>
  <v-fab-transition>
    <v-speed-dial v-model="fab"
                  bottom
                  right
                  fixed
                  direction="top"
                  transition="scale-transition">
        <v-btn slot="activator"
               color="red lighten-1"
               dark
               fab
               v-model="fab">
              <v-icon>add</v-icon>
              <v-icon>close</v-icon>
        </v-btn>

        <v-tooltip left>
          <v-btn color="light-blue lighten-1"
                 dark
                 small
                 fab
                 slot="activator">
                <v-icon>assignment</v-icon>
          </v-btn>
          <span>Add new Budget</span>
        </v-tooltip>

        <v-tooltip left>
          <v-btn color="green lighten-1"
                 dark
                 small
                 fab
                 slot="activator">
                <v-icon>account_circle</v-icon>
          </v-btn>
          <span>Add new Client</span>
        </v-tooltip>

    </v-speed-dial>
  </v-fab-transition>
</main>
