@import "~@/assets/style";
.l-header-container {
  background-color: $background-color;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 272px;
  .l-budgets-header {
    label, input, .icon, .input-group__selections__comma {
      color: #29b6f6!important;
    }
  }
  .l-clients-header {
    label, input, .icon, .input-group__selections__comma {
      color: #66bb6a!important;
    }
  }
  .input-group__details {
    &:before {
      background-color: $border-color-input !important;
    }
  }
  .btn {
    margin-top: 15px;
  }
}
.list__tile__title, .input-group__selections {
  text-transform: uppercase !important;
}
