@import "./../../../assets/style.scss";
.l-header-container {
  background-color: $background-color;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 272px;
  label, input, .icon, .input-group__selections__comma {
    color: #29b6f6!important;
  }
  .input-group__details {
    &:before {
      background-color: $border-color-input !important;
    }
  }
  .btn {
    margin-top: 15px;
  }
}
